[submodule "ThirdParty/Eigen"]
	path = ThirdParty/Eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "ThirdParty/ceres-solver"]
	path = ThirdParty/ceres-solver
	url = https://github.com/ceres-solver/ceres-solver.git
[submodule "ThirdParty/glog"]
	path = ThirdParty/glog
	url = https://github.com/google/glog.git
